.dark-theme .projects-container {
    background-color: #052719;
    color: #fffae6;
    font-family: Inter, ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    max-width: 640px;
    height: auto;
    position: relative;
    top: 3rem;
    bottom: 9rem;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-direction: column
}

.dark-theme .projects-wrapper {
    margin-top: 6rem;
}

.dark-theme .page-title {
    color: #fffae6;
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: bold;
    margin-inline: 20%;
    padding: 1rem;
    margin-bottom: 3%;
    border-bottom-style: solid;
    border-bottom-color: #bfc2ae;
}

.dark-theme .project-wrapper {
    background: #052719;
    color: #fffae6;
    width: auto;
    height: auto;
    margin-inline: 20%;
    margin-bottom: 2%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.5s ease-in;
    border-bottom-style: solid;
    border-bottom-color: #2c2e1e7b;
}

.dark-theme .project-wrapper:hover {
    cursor: pointer;
    background-color: #bfc2ae54;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.project-title {
    /*background: brown;*/
    width: 90%;
    height: auto;
    position: relative;
    top: 1rem;
    left: 1rem;
    margin-bottom: 10px;
    display: flex;
    font-size: medium;
    font-weight: 500;
}

.dark-theme .project-description {
    /*background: chocolate;*/
    width: auto;
    height: auto;
    position: relative;
    left: 1rem;
    margin-inline: 2%;
    margin-bottom: 20px;
    font-size: small;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.dark-theme .learn-more-button {
    background: #052719;
    width: 50px;
    padding: 2px;
    margin-left: 80%;
    text-align: center;
    position: relative;
    bottom: 10px;
    font-size: xsmall;
    font-weight: 500;
    color: #fffae6;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: color 0.2s ease-in-out;
    opacity: 60%;
}

.dark-theme .learn-more-button:hover {
    background-color: #ffa201;
    color: #052719;
    opacity: 100%;
}




/***************************************************************************************************************
******************************************** LIGHT THEME OVERRIDE***********************************************
***************************************************************************************************************/


.projects-container {
    background-color: #fffae6;
    color: #052719;
    font-family: Inter, ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    max-width: 640px;
    height: auto;
    position: relative;
    top: 3rem;
    bottom: 9rem;
    margin-inline: auto;
    display: flex;
    justify-content: center;
    flex-direction: column
}

.projects-wrapper {
    margin-top: 6rem;
}

.page-title {
    color: #052719;
    border-bottom-style: solid;
    border-bottom-color: #052719;
    width: auto;
    height: auto;
    font-size: 16px;
    font-weight: bold;
    margin-inline: 20%;
    padding: 1rem;
    margin-bottom: 3%;
}

.project-description {
    /*background: chocolate;*/
    width: auto;
    height: auto;
    position: relative;
    left: 1rem;
    margin-inline: 2%;
    margin-bottom: 20px;
    font-size: small;
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

.project-wrapper {
    background: #fffae6;
    color: #052719;
    border-bottom-style: solid;
    border-bottom-color: #cccbb3;
    width: auto;
    height: auto;
    margin-inline: 20%;
    margin-bottom: 2%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: transform 0.5s ease-in;
}

.project-wrapper:hover {
    background-color: #f6ecd4;
    cursor: pointer;
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
}

.learn-more-button {
    background: #fffae6;
    color: #052719;
    width: 50px;
    padding: 2px;
    margin-left: 80%;
    text-align: center;
    position: relative;
    bottom: 10px;
    font-size: xsmall;
    font-weight: 500;
    border: none;
    cursor: pointer;
    border-radius: 0.25rem;
    transition: color 0.2s ease-in-out;
    opacity: 60%;
}

.learn-more-button:hover {
    background-color: #ffa201;
    color: #052719;
    opacity: 100%;
}